h3 {
  font-family: Lato;
}

a {
  padding: 5px 12px;
  margin-left: 10px;
  text-decoration: none;
  display: inline-grid;
  background-color: #eee;
  border-radius: 4px;
  color: #607D8B;
}
a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}