a {
    padding: 40px;
    line-height: 40px;
    inline-size: 60px;
    text-decoration: none;
    display: inline-grid;
    background-color: #eee;
    border-radius: 4px;
    margin: 10px;
  }
  a:visited, a:link {
    color: #607D8B;
  }
  a:hover {
    color: #039be5;
    background-color: #CFD8DC;
  }
  a.active {
    color: #039be5;
  }